.boton {
  border: 2px solid var(--primary-red);
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 10px 24px;
}

.boton:hover {
  background-color: var(--primary-red);
  color: white;
}

/* Media queries */
@media (max-width: 768px) {
  .boton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}